@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body{
    background-color: hsl(217, 12%, 63%);
}


.container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(hsl(216, 12%, 54%),hsl(216, 12%, 8%));
    width: 400px;
    border-radius: 10px;
    margin-top: 50px;
}

.str-img{
    background-color: grey;
    padding: 10px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
}


.title1,.Thank {
    font-weight: 400;
    font-size: 15px;
    margin: 20px 0px;
    color: white;
    padding: 10px 30px;
}

.title2, .msg{
    padding: 10px 30px;
    color: white;
}

.buttons{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 20px 10px;
}

.btn {
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(74, 74, 74);
    color: white;
    margin-right: 20px;
}

.btn:hover{
    background-color: white;
    color: black;
}

.btnPressed{
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
    /* background-color: rgb(255, 166, 0); */
    background-color: hsl(25, 97%, 53%);
    margin-right: 20px;
}

.submit{
   display: flex;
   justify-content: center;
}
.submitB{
    color: white;
    /* background-color: hsl(25, 97%, 53%); */
    border-radius: 10px;
    font-size: 20px;
    width: 300px;
    margin-bottom: 20px;
}

.submitB:hover{
    /* background-color: hsl(0, 0%, 100%); */
    /* color: orange; */
}

.thank-img{
    display: block;
    margin: 20px auto;
}

.rating{
    background-color: grey;
    width: fit-content;
    border-radius: 10px;
    margin: 30px auto;
    color: white;
    font-size: 24px;
    padding: 10px;
    
}

.Thank{
    margin: 30px auto;
    width: fit-content;
}

.page2{
    display: none;
}

.msg{
    font-size: 18px;
}